body {
    background-color: white;
}
h1 { 
    color: blue;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}
ul.main-menu {
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
}
ul.main-menu>li {
    display: inline;
}
